.nav{ 
    direction:rtl;
    width:100%; 
    height:100px;

    position:fixed; 
    top:0;
    left:0;
    display:flex; 
    align-items:center;
    background:var(--mainColor);
    z-index:1000; 
  
   
   
}

.nav > a > img{ 
    width:200px; 
    height:150px; 
    margin-top:20px
}
.navDropIcon{ 
    display:none;


    flex:1;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
    
    margin:0 20px;
    cursor:pointer;

}
.navDropIconSpan{ 
    width:30px; 
    height:4px; 
    margin:3px;

    background-color:white;

    transition:all 0.5s;
    
}
.navDropIconSpanOpenFirst{ 
    width:30px; 
    height:3px; 

    background-color:white;
    transform:rotate(54deg);

    transition:all 0.5s;
    z-index:100; 
}
.navDropIconSpanOpenThird{ 
    width:30px; 
    height:3px; 

    background-color:white;
    transform:translate(0px,-3px) rotate(-54deg);

    transition:all 0.5s;
    z-index:100;
}
.navList{ 
    flex:1; 
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:15px;
    margin:0 20px;

   
    
   
} 
.navList > li { 
    list-style: none;
}
.navList > .navListItemList{ 
    position:relative; 
    
    
    padding:10px 20px;
    display:flex;
    justify-content:center;;
    align-items:center;

    text-align:center; 
    
    

    cursor:pointer;

    font-size:min(5vw , 25px);
    transition:all .2s linear;
   
    text-decoration:none;
    
    color:white;
    

}
.navListItem{ 
    position:relative; 
    
    
    padding:10px 20px;
 
    display:flex;
    justify-content:center;;
    align-items:center;

    text-align:center; 
    
    

    cursor:pointer;

    font-size:min(5vw , 25px);
    transition:all .2s linear;
   
    text-decoration:none;
    
    color:white;
    
    

}
.navListItem  { 
    width:100%;

}
.navList > .navListItemList  > ul { 
    display: none;
    width:100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; 
    padding:0; 
   
 
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
    over-flow:none;
} 
.navList > .navListItemList:hover { 
    background:var(--secondColor);  
}
.navList > .navListItemList:hover  >  ul {
    display:block;
}
.navListItemList  >  ul > li  { 
    
   
    cursor: pointer;
    transition:all .2s linear;
    list-style: none;
    color:#000;
    

}
.navListItemActive{ 
    background:var(--secondColor);
}
.navListItemListActive{ 
    background:var(--secondColor);
}
.navListItemList  >  ul > li > a{ 
    color:#000;
    font-weight:bold; 
    font-size:min(4vw,20px);
}
.navListItem > ul > li:hover{ 
    background-color: var(--secondColor);
}
.navListItem > ul > li > a{ 
    color: #000;
    text-decoration: none;

}
.navListItem:hover{ 
    background:var(--secondColor)
}
.navDropListOpen{ 
    width:100%; 
    position:absolute; 
    top:100%;; 
    left:0; 

    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-content:center; 
    

    
    transition:all .5s linear;

    
    
}
.navDropListClose{ 

    display:none;
    
    
}
.navDropListOpen > li{ 
    width:100%;
    border-bottom:2px solid #292929 

}
.navDropListItem{ 
    width:100%; 
    
    
    padding:10px; 
    text-decoration:none;
    display:flex;
    justify-content:center; 
    align-items:center; 
    color:#292929; 
    
    font-weight:800;
    font-size:min(5vw , 20px); 
    background:#fff;
   

}
.navDropListItem:not(:last-child){ 
    border-bottom:2px solid #bbb;
}

.navDropListItem:hover{ 
    background:#292929; 
    color:#fff; 
}

/* // media  */

@media (max-width:1045px){ 
    .navLogo{ 
        margin-right:40px;
    }
    .navList{ 
        display:none;
    } 
    .navDropIcon{ 
        display:flex;
    }
}