@font-face {
  font-family: 'titleFont';
  src:url('./fonts/alfont_com_VEXA-.ttf'); 

}
@font-face {
  font-family: 'paragraphFont';
  src:url('./fonts/secondFont.ttf'); 

} 
*{ 
  padding:0; 
  margin:0; 
  box-sizing:border-box; 
  /* outline:1px solid red;   */
}
:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  --mainColor:#1b2a56;
  --secondColor:#ffc53a;
  --thirdColor:#fff;
  --fourthColor:#cdd4fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{ 
  margin:0; 
  padding:0;
  background:#fff;  
}

video{ 
  object-fit:cover;
  min-height:100%;
}